<html>
  <head>
    <title><%= @album.title %> - Music Library</title>
  </head>
  <body>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year %>
      Artist: <%= @artist.name %>
    </p>

    <a href="/albums">All albums</a>
  </body>
</html>