<html>
  <head>
    <title>Music Library</title>
  </head>
  <body>
    <h1>Music Library</h1>
    <div>
      <h2>Albums</h2>
      <ul>
        <li><a href="/albums">View albums</a></li>
        <li><a href="/albums/new">Add new album</a></li>
      </ul>
    </div>
    <div>
      <h2>Artists</h2>
      <ul>
        <li><a href="/artists">View artists</a></li>
        <li><a href="/artists/new">Add new artist</a></li>
      </ul>
    </div>


  </body>
</html>